<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- 添加log4net配置节 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DBContext" connectionString="metadata=res://*/DBContext.csdl|res://*/DBContext.ssdl|res://*/DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.88.2\sql2012;initial catalog=TaiWei;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;Max Pool Size=500;" providerName="System.Data.EntityClient" />
    <add name="connstring" connectionString="Server=192.168.88.2\SQL2012;database=TaiWei;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="SQL" connectionString="Data Source=192.168.88.2\SQL2012;User ID=sa;Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
    <add name="ORASQL" connectionString="Data Source=orcl;User ID=rightSuser2020;Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <!--add key="SystemID" value="1077"/-->
    <add key="AppNo" value="1001" />
    <!--系统挂接功能点的级数，如果是3级则在Top页面加一级-->
    <add key="ModuleLevel" value="2" />
    <add key="DefaultConnection" value="SQL" />
    <!--权限管理平台的登录界面地址-->
    <add key="RightsLogin" value="" />
    <!--默认仓库-->
    <add key="WAREHOUSE" value="Bray-01" />
    <!--默认区域-->
    <add key="AREA" value="Bray-01-01" />
    <!--储位与区域关联关系-->
    <add key="RightsWS.RightsServiceForMultiApp" value="http://192.168.88.115:20201/RightsServiceForMultiApp.asmx" />
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!-- 允许跨平台使用-->
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <!-- 移动终端使用汉字乱码-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" fileEncoding="utf-8" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RightsServiceForMultiAppSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="Binding1" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="userHttp">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="PermissionsServiceInterface.WCF.WMSWebService" behaviorConfiguration="bh1">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:4859/WCF/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="PermissionsServiceInterface.WCF.IWMSWebService" bindingConfiguration="Binding1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/WMSRights/RightsServiceForMultiApp.asmx" binding="basicHttpBinding" bindingConfiguration="RightsServiceForMultiAppSoap" contract="WMSRights.RightsServiceForMultiAppSoap" name="RightsServiceForMultiAppSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="bh1">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="47483647"></requestLimits>
      </requestFiltering>
    </security>
    <!--iis7-->
  </system.webServer>
</configuration>
<!--ProjectGuid: F7BB5292-0AAB-4F9D-A39C-909667290F45-->