<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="connstring" connectionString="Server=192.168.88.2\SQL2012;database=XUELONG;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="DBContext" connectionString="metadata=res://*/DBContext.csdl|res://*/DBContext.ssdl|res://*/DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.88.2\sql2012;initial catalog=XUELONG;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="SQL" connectionString="Data Source=orcl;User ID=asrs1;Password=sa1;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
    <add name="ORASQL" connectionString="Data Source=orcl;User ID=asrs1;Password=sa1;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
    --><!--连接权限平台的oracle sql--><!--
    <add name="RightsSQL" connectionString="Data Source=orcl;User ID=rightSuser2020; Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=5" providerName="System.Data.OracleClient" />-->

    <add name="connstring" connectionString="Server=192.168.55.104;database=TaiWei;User ID=sa;Password=DreamTek2020" providerName="System.Data.SqlClient" />
    <add name="DBContext" connectionString="metadata=res://*/DBContext.csdl|res://*/DBContext.ssdl|res://*/DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.55.104;initial catalog=TaiWei;persist security info=True;user id=sa;password=DreamTek2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="SQL" connectionString="Data Source=orcl;User ID=asrs1;Password=sa1;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
    <add name="ORASQL" connectionString="Data Source=orcl;User ID=asrs1;Password=sa1;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient" />
    <!--连接权限平台的oracle sql-->
    <add name="RightsSQL" connectionString="Data Source=orcl;User ID=rightSuser2331; Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=5" providerName="System.Data.OracleClient" />
    
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MethodSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://103.21.117.119:7966/Service.asmx" binding="basicHttpBinding" bindingConfiguration="MethodSoap" contract="NCSServiceReference.MethodSoap" name="MethodSoap"></endpoint>
    </client>
  </system.serviceModel>
  <appSettings>

    <!--公司编号--><!--
    <add key="RightUrl" value="http://192.168.88.2:2008/" />
    --><!--公司编号--><!--
    <add key="CompayNO" value="COMPANY_XUELONG" />
    --><!--项目编号--><!--
    <add key="ProjectNO" value="SnowDragon001" />-->
    <!--公司编号-->
    <add key="RightUrl" value="http://192.168.55.102:23341/" />
    <!--公司编号-->
    <add key="CompayNO" value="COMPANY_XUELONG" />
    <!--项目编号-->
    <add key="ProjectNO" value="SnowDragon001" />


    <!--add key="SystemID" value="1077"/-->
    <add key="AppNo" value="1001" />
    <!--系统挂接功能点的级数，如果是3级则在Top页面加一级-->
    <add key="ModuleLevel" value="2" />
    <add key="DefaultConnection" value="SQL" />
    <!--权限管理平台的登录界面地址-->
    <add key="RightsLogin" value="" />
    <add key="RightsWS.RightsServiceForMultiApp" value="http://192.168.88.115:20201/RightsServiceForMultiApp.asmx" />
    <!--LED web端使用开关 1：开  0：关-->
    <add key="LEDWEB" value="0" />
    <!--发送邮件-->
    <add key="Host" value="SPAM.nettech-global.com" />
    <add key="Prot" value="25" />
    <add key="Fromcount" value="WMS@nettech-global.com" />
    <add key="Password" value="123456" />
    <add key="EnableSsl" value="false" />
    <!--导入数据-->
    <add key="ExcelSize" value="44" />
    <add key="ExcelName1" value="一般電子倉保稅區塊" />
    <add key="ExcelName2" value="一般電子倉保稅暫放儲位區" />
    <add key="ExcelName3" value="一般電子倉非保稅區塊" />
    <add key="ExcelName4" value="貴重電子倉區塊" />
    <add key="ExcelName5" value="貴重電子倉保稅暫放儲位區" />
    <add key="ExcelName6" value="DIP料件保稅區塊" />
    <add key="ExcelName7" value="DIP材料保稅儲位區" />
    <add key="ExcelName8" value="DIP料件非保稅區塊" />
    <add key="ExcelName9" value="PCB保稅區塊" />
    <add key="ExcelName10" value="PCB非保稅區塊" />
	<!--默认区域-->
    <add key="AREA" value="Bray-01-01"/>
    <add key="Path" value="log\synclog"/>
    <add key="sender" value="106"/>
    <add key="ERPURL" value="http://192.168.201.10/u8eai/import.asp"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>

    
    
    <!--上传文件大小 10M-->
    <httpRuntime maxRequestLength="10240" />
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationFramework.Royale, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="DevExpress.Design.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Design, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Extensions, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Service, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Web, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Utils.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        -->
        <!--<add assembly="System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=DB937BC2D44FF139"/>-->
        <!--
        <add assembly="DevExpress.Charts.v10.2.Core, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v10.2, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v10.2.Core, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraPivotGrid.v10.2, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraRichEdit.v10.2, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v10.2.Core, Version=10.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>-->
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="On" defaultRedirect="~/Layout/Baselayout/FrmError.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
        
        <customErrors mode="On" defaultRedirect="GenericErrorPage.htm"> 
     <error statusCode="403" redirect="403.htm" /> 
     <error statusCode="404" redirect="404.htm" /> 
</customErrors>


        -->

    <customErrors mode="RemoteOnly" >
      <error statusCode="403" redirect="403.htm" />
      <error statusCode="404" redirect="404.htm" />
    </customErrors>
    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <sessionState mode="InProc" cookieless="false" />
    <!--cookieless="UseCookies"-->
    <!--多语言-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <!--<globalization culture="zh-TW"  uiCulture="zh-TW"/>-->

    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false" doctypeMode="Xhtml" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
    
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>