<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="SQL" connectionString="Data Source=WMSV6;User ID=wmsdb01;Password=wmsv6;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient"/>-->
    <!--<add name="ORASQL" connectionString="Data Source=WMSV6;User ID=wmsdb01;Password=wmsv6;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient"/>-->
    <add name="ORASQL" connectionString="Data Source=ORCL;User ID=d2319;Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient"/>
    <add name="SQL" connectionString="Data Source=ORCL;User ID=d2319;Password=sa;Pooling=True;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <!--add key="SystemID" value="1077"/-->
    <add key="AppNo" value="1001"/>
    <!--系统挂接功能点的级数，如果是3级则在Top页面加一级-->
    <add key="ModuleLevel" value="2"/>
    <add key="DefaultConnection" value="SQL"/>
    <!--权限管理平台的登录界面地址-->
    <add key="RightsLogin" value=""/>
    <!--http://localhost:84/Layout/BaseLayout/Login.aspx-->
    <!--<add key="RightsWS.RightsServiceForMultiApp" value="http://172.22.160.101:2316/RightsServiceForMultiApp.asmx" />-->
    <!--<add key="RightsWS.RightsServiceForMultiApp" value="http://172.22.160.105:2318/RightsServiceForMultiApp.asmx"/>-->
    <!--<add key="RightsWS.RightsServiceForMultiApp" value="http://192.168.88.115:8008/RightsServiceForMultiApp.asmx"/>-->
    <add key="RightsWS.RightsServiceForMultiApp" value="http://localhost:802/RightsServiceForMultiApp.asmx"/><!--连接本地权限-->
    <!--品名换行长度-->
    <add key="PartNameLength" value="40"/>
    <!--发送邮件-->
    <add key="Host" value="SPAM.nettech-global.com"/>
    <add key="Prot" value="25"/>
    <add key="Fromcount" value="WMS@nettech-global.com"/>
    <add key="Password" value="123456"/>
    <add key="EnableSsl" value="false"/>
    <!--导入数据-->
    <add key="ExcelName_USER_AREA" value="操作人對應區域資訊"/>
    <add key="ExcelName_AREA" value="區域資訊"/>
    <add key="ExcelSize" value="44"/>
    <add key="ExcelName1" value="一般電子倉保稅區塊"/>
    <!--一般電子倉保稅區塊-->
    <add key="ExcelName2" value="一般電子倉保稅暫放儲位區"/>
    <!--一般電子倉保稅暫放儲位區-->
    <add key="ExcelName3" value="一般電子倉非保稅區塊"/>
    <!--一般電子倉非保稅區塊-->
    <add key="ExcelName4" value="貴重電子倉區塊"/>
    <add key="ExcelName5" value="貴重電子倉保稅暫放儲位區"/>
    <add key="ExcelName6" value="DIP料件保稅區塊"/>
    <add key="ExcelName7" value="DIP材料保稅儲位區"/>
    <add key="ExcelName8" value="DIP料件非保稅區塊"/>
    <add key="ExcelName9" value="PCB保稅區塊"/>
    <add key="ExcelName10" value="PCB非保稅區塊"/>
    <add key="ExcelName11" value="半成品倉A1F區塊"/>
    <add key="ExcelName12" value="半成品倉A1F儲位區"/>
    <add key="ExcelName13" value="半成品倉A2F區塊"/>
    <add key="ExcelName14" value="半成品倉A2F儲位區"/>
    <add key="ExcelName15" value="半成品倉B1F區塊"/>
    <add key="ExcelName16" value="半成品倉B1F儲位區"/>
    <add key="ExcelName17" value="半成品倉R3F非保稅區塊"/>
    <add key="ExcelName18" value="半成品倉R3F保稅區塊"/>
    <add key="ExcelName19" value="半成品倉R3F不良保稅區塊"/>
    <add key="ExcelName20" value="成品倉D棟區塊"/>
    <add key="ExcelName21" value="成品倉B棟區塊"/>
    <add key="ExcelName22" value="成品倉B棟儲位區"/>
    <add key="ExcelName23" value="組裝保稅變壓器線材區塊"/>
    <add key="ExcelName24" value="組裝保稅變壓器線材儲位區"/>
    <add key="ExcelName25" value="組裝非保稅變壓器線材區塊"/>
    <add key="ExcelName26" value="組裝非保稅變壓器線材儲位區"/>
    <add key="ExcelName27" value="組裝蓋子D料號保稅區塊"/>
    <add key="ExcelName28" value="組裝蓋子D料號非保稅區塊"/>
    <add key="ExcelName29" value="組裝蓋子D料號非保稅儲位區"/>
    <add key="ExcelName30" value="組裝蓋子保稅區塊"/>
    <add key="ExcelName31" value="組裝蓋子保稅儲位區"/>
    <add key="ExcelName32" value="組裝蓋子非保稅區塊"/>
    <add key="ExcelName33" value="組裝蓋子非保稅儲位區"/>
    <add key="ExcelName34" value="組裝小料區塊"/>
    <add key="ExcelName35" value="包裝材料大包D料區塊"/>
    <add key="ExcelName36" value="包裝材料大包D料儲位區"/>
    <add key="ExcelName37" value="包裝材料大包區塊"/>
    <add key="ExcelName38" value="包裝材料大包儲位區"/>
    <add key="ExcelName39" value="包裝材料彩盒D料區塊"/>
    <add key="ExcelName40" value="包裝材料彩盒D料儲位區"/>
    <add key="ExcelName41" value="包裝材料彩盒區塊"/>
    <add key="ExcelName42" value="包裝材料彩盒儲位區"/>
    <add key="ExcelName43" value="說明書區塊"/>
    <add key="ExcelName44" value="銘板貼紙區塊"/>
    <add key="ExcelName45" value="說明書非保税區塊"/>
    <add key="ExcelName46" value="說明書保税區塊"/>
    <add key="ExcelName47" value="銘板貼紙保税區塊"/>
    <add key="ExcelName48" value="銘板貼紙非保税區塊"/>
    <add key="ExcelName49" value="Thomson保稅電子料"/>
    <add key="ExcelName50" value="Thomson非保稅電子料"/>
    <add key="ExcelName51" value="有線產品保稅電子料"/>
    <add key="ExcelName52" value="有線產品非保稅電子料"/>
    <add key="ExcelName53" value="無線產品保稅電子料"/>
    <add key="ExcelName54" value="無線產品非保稅電子料"/>
    <add key="ExcelName55" value="Thomson保稅DIP料"/>
    <add key="ExcelName56" value="無線產品保稅儲位DIP料"/>
    <add key="ExcelName57" value="無線產品非保稅儲位DIP料"/>
    <add key="ExcelName58" value="有線產品保稅DIP料"/>
    <add key="ExcelName59" value="有線產品非保稅DIP料"/>
    <add key="ExcelName60" value="Thomson非保稅半成品"/>
    <add key="ExcelName61" value="有線產品保稅半成品區"/>
    <add key="ExcelName62" value="有線產品非保稅半成品區"/>
    <add key="ExcelName63" value="無線產品保稅半成品區"/>
    <add key="ExcelName64" value="無線產品保稅組裝材料區"/>
    <add key="ExcelName65" value="無線產品非保組裝材料區"/>
    <add key="ExcelName66" value="有線產品保稅組裝材料區"/>
    <add key="ExcelName67" value="有線產品非保組裝材料區"/>
    <add key="ExcelName68" value="Thomson保稅組裝材料區"/>
    <add key="ExcelName69" value="Thomson非保稅組裝材料區"/>
    <add key="ExcelName70" value="無線產品保稅包裝材料區"/>
    <add key="ExcelName71" value="無線產品非保包裝材料區"/>
    <add key="ExcelName72" value="有線產品保稅包裝材料區"/>
    <add key="ExcelName73" value="有線產品非保包裝材料區"/>
    <add key="ExcelName74" value="Thomson非保稅包裝材料區"/>
    <add key="ExcelName75" value="電子線邊保稅區"/>
    <add key="ExcelName76" value="電子線邊非保稅區"/>
    <add key="ExcelName77" value="DIP線邊保稅區"/>
    <add key="ExcelName78" value="DIP線邊非保稅區"/>
    <add key="ExcelName79" value="半成品線邊保稅區"/>
    <add key="ExcelName80" value="半成品線邊非保稅區"/>
    <add key="ExcelName81" value="ATP線邊保稅區"/>
    <add key="ExcelName82" value="ATP線邊非保稅區"/>
    <add key="ExcelName83" value="整新RMA線邊保稅區"/>
    <add key="ExcelName84" value="整新RMA線邊非保稅區"/>
    <add key="ExcelName85" value="整新RMA材料保稅區"/>
    <add key="ExcelName86" value="整新RMA材料非保稅區"/>
    <add key="ExcelName87" value="整新RMA半成品保稅區"/>
    <add key="ExcelName88" value="整新RMA半成品非保稅區"/>
    <add key="ExcelName89" value="整新RMA成品保稅區"/>
    <add key="ExcelName90" value="整新RMA成品非保稅區"/>
    <add key="ExcelName91" value="整新RMA銷退保稅儲位區"/>
    <add key="ExcelName92" value="整新RMA銷退非保稅儲位區"/>
    <add key="ExcelName93" value="厂内SMT保税线边区"/>
    <add key="ExcelName94" value="厂内SMT非保税线边区"/>
    <add key="ExcelName95" value="不可指引最大量線邊儲位"/>
    <add key="ExcelName96" value="NG倉不可指引非保稅儲位明細"/>
    <add key="ExcelName97" value="NG倉不可指引保稅儲位明細"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <!--上传文件大小 10M-->
    <httpRuntime maxRequestLength="10240"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <!--<compilation debug="true" targetFramework="4.0">-->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationFramework.Royale, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.Design.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Design, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Extensions, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Service, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v10.2.Web, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.Utils.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <sessionState mode="InProc" cookieless="false"/>
    <!--cookieless="UseCookies"-->
    <!--<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>-->
    <globalization culture="zh-TW" enableClientBasedCulture="true" requestEncoding="gb2312" responseEncoding="gb2312"/>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>