.line1_1
{
	background-image: url(Images/MasterPage/in_info_table_01.gif);
}

.line1_2
{
	background-image: url(Images/MasterPage/in_info_table_02.gif);
}

.line1_3
{
	background-image: url(Images/MasterPage/in_info_table_03.gif);
}

.line2_1
{
	background-image: url(Images/MasterPage/in_info_table_04.gif);
}
.title1_1
{
	background-image: url(Images/MasterPage/in_line_bg.gif);
}
.line2_2
{
	background-image: url(Images/MasterPage/in_info_table_06.gif);
}

.line3_1
{
	background-image: url(Images/MasterPage/in_info_table_08.gif);
}

.line3_2
{
	background-image: url(Images/MasterPage/in_info_table_09.gif);
}

.line3_3
{
	background-image: url(Images/MasterPage/in_info_table_10.gif);
}